@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen-section {
    @apply min-h-screen w-screen bg-slate-50 dark:bg-black;
  }
}

@layer utilities {
  .border-1 {
    border-width: 1px;
  }

  .border-b-1 {
    border-bottom-width: 1px;
  }

  .border-t-1 {
    border-top-width: 1px;
  }

  .border-l-1 {
    border-left-width: 1px;
  }

  .border-r-1 {
    border-right-width: 1px;
  }

  .border-x-1 {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  .border-y-1 {
    border-top-width: 1px;
    border-bottom-width: 1px;
  }
}

::-moz-selection {
  @apply bg-fuchsia-500 text-white;
}

::selection {
  @apply bg-fuchsia-500 text-white;
}
